<?xml version="1.0" encoding="UTF-8"?> 
<configuration status="WARN">
    <appenders>
        <!-- Console Appender -->
        <console name="Console" target="SYSTEM_OUT">
            <patternlayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %C{1} - %msg%n" />
        </console>

        <!-- General File Appender -->
        <file name="FileLogger" filename="logs/test-log.log" append="true">
            
            <patternlayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %C{1} - %msg%n" />
        </file>

        
    </appenders>

    <loggers>
        <!-- Logger for com.orangehrm -->
        <logger name="com.orangehrm" level="trace" additivity="false">
            <appenderref ref="Console" />
            <appenderref ref="FileLogger" />
        </logger>

    </loggers>
</configuration>